@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0C0B05;
    color: #FFFCF5;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container {
    width: 830px;
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.subtitle {
    font-size: 18px;
    color: #D3902A;
    margin-bottom: 10px;
    text-align: center;
}

a {
    color: #FFFCF5;
    transition-timing-function: ease-in;
    transition: 0.4s;
}

a:hover {
    color: #D3902A;
    transition-timing-function: ease-in;
    transition: 0.3s;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
    }
}

/* Header */

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin-bottom: 40px;
}

.nav-button {
    display: none;
}

.header-row {
    display: grid;
    grid-template-columns: 300px auto;
    column-gap: 30px;
    align-items: center;
}

.header-img img {
    border-radius: 80%;
    box-shadow: 1px 1px 20px 3px #D3902A;
}

.header-text {
    padding-left: 10px;
}

.header-text-title {
    font-size: 32px;
    color: #D3902A;
    margin-bottom: 10px;
}

.header-text-subtitle {
    margin-bottom: 20px;
    text-align: left;
}

.header-contacts > li:not(:last-child) {
    margin-bottom: 10px;
}

.header-contacts li {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

@media (max-width: 734px) {
    .header-row {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    
    .header-text-subtitle,
    .header-contacts {
        text-align: center;
    }

    .nav-list {
        display: none;
    }

    .nav-button {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav.open .nav-list {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 30px;
        font-size: 28px;
        line-height: 80px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(12, 11, 5, 0.98);
    } 

    .nav-button {
        z-index: 101;
    }
}

@media (max-width: 404px) {
    .header-text-title {
        text-align: center;
    }
}

/* About me */

/* Skills */

/* .skills-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.skills-block ul {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

.skills-block ul li {
    border-bottom: 1px solid #D3902A;
    padding-bottom: 3px;
}

/* .skills-block ul > li:not(:last-child) {
    margin-bottom: 10px;
} */

progress {
    padding-top: 5px;
    width: 80%;
    height: 25px;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: #FFFCF5;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #D3902A;
    border-radius: 10px;
}

@media (max-width: 734px) {
    .skills-block {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .skills-second ul > li:first-child {
        margin-top: 10px;
    }
}

/* Code example */

.code-example .container {
    padding-bottom: 0;
}

@media (max-width: 423px) {
    .code-example-text {
        font-size: 10px;
    }
}

/* My project */

.my-project-block {
    display: flex;
    justify-content: space-between;
}

.project-link a img {
    transition-timing-function: ease-in;
    transition: 0.4s;
}

.my-project-block img {
    border-radius: 10px;
    transition-timing-function: ease-in;
    transition: 0.4s;
}

.hidden {
    display: none;
}

.my-project-block li img:hover {
    box-shadow: 2px 2px 20px 7px #D3902A;
    transition-timing-function: ease-in;
    transition: 0.4s;
}

/* Experience */

.experience-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.experience-company {
    margin-bottom: 10px;
}

.experience-years {
    margin-bottom: 10px;
}

.experience-positions {
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    .experience-block {
        grid-template-columns: 370px 360px;
    }
}

@media (max-width: 750px) {
    .experience-block {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .experience-company,
    .experience-years,
    .experience-positions {
        text-align: center;
    }
}

/* Education */

.education-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.education-title {
    margin-bottom: 10px;
}

.education-years {
    margin-top: 10px;
    margin-bottom: 10px;
}

.education-courses li:not(:last-child) {
    margin-bottom: 10px;
}

@media (max-width: 750px) {
    .education-block {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        text-align: center;
    }
}

/* Language */

@media (max-width: 750px) {
    .language {
        text-align: center;
    }
}

/* Footer */

footer {
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(255, 252, 245, 0.2);
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
