@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    width: 830px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: #0C0B05;
    color: #FFFCF5;
}

.container {
    /* border: 1px solid rgb(228, 228, 163, 0.2); */
    padding: 10px 10px 10px 10px;
}

.subtitle {
    font-size: 18px;
    color: #D3902A;
    margin-bottom: 10px;
    text-align: left;
}

a {
    color: #FFFCF5;
}

a:hover {
    color: #D3902A;
    transition-timing-function: ease-in;
    transition: 0.3s;
}

/* Header */

.header-row {
    display: grid;
    grid-template-columns: 300px auto;
    column-gap: 30px;
    align-items: center;
}

.header-img img {
    border-radius: 80%;
    box-shadow: 1px 1px 20px 3px #D3902A;
}

.header-text {
    padding-left: 10px;
}

.header-text-title {
    font-size: 32px;
    color: #D3902A;
    margin-bottom: 10px;
}

.header-text-subtitle {
    margin-bottom: 20px;
}

.header-contacts > li:not(:last-child) {
    margin-bottom: 10px;
}

/* About me */

.about-me {
}
.container {
}
.about-me-title {
    /* text-align: center; */
}
.about-me-text {
}

/* Skills */

.skills-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills-block ul > li:not(:last-child) {
    margin-bottom: 10px;
}

progress {
    padding-top: 5px;
    width: 80%;
    height: 25px;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: #FFFCF5;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #D3902A;
    border-radius: 10px;
}

/* Experience */

.experience-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.experience-first {
}
.experience-company {
    margin-bottom: 10px;
}
.experience-years {
    margin-bottom: 10px;
}
.experience-positions {
    margin-bottom: 10px;
}
.experience-tasks {
}
.experience-second {
}
.experience-steps {
}

/* Education */

.education-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.education-uni {
}
.education-title {
    margin-bottom: 10px;
}
.education-name {

}
.education-years {
    margin-top: 10px;
    margin-bottom: 10px;
}
.education-profession {
}
.education-courses {
}

/* Footer */

footer {
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(255, 252, 245, 0.2);
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-github {
}
.footer-year {
}
.footer-rs-logo {
}